<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="yServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2851/yService.asmx" binding="basicHttpBinding"
                bindingConfiguration="yServiceSoap" contract="ServiceReference1.yServiceSoap"
                name="yServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>