<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--接口1(读取)循环读取周期 单位:毫秒-->
    <add key="LoopTime1" value="2000"/>
    <!--接口2(写入)循环读取周期 单位:毫秒-->
    <add key="LoopTime2" value="2000"/>

    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>
    <!--是否记录接口返回的数据-->
    <add key="SaveResData" value="1"/>
    <!--Head表名-->
    <add key="HeadTableName" value="EHS_ENTRY_HEAD"/>
    <!--TMP表名-->
    <add key="TMPTableName" value="EHS_ENTRY_TMP"/>
    <!--设备编码-->
    <add key="APPNO" value="99291601"/>
    <!--读取数据的文件夹-->
    <add key="GetFilePath" value="e:\GetFilePath"/>
    <!--发送数据的文件夹-->
    <add key="SendFilePath" value="e:\SendFilePath"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=IM_Manifest_DB;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="yServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2851/yService.asmx" binding="basicHttpBinding"
        bindingConfiguration="yServiceSoap" contract="ServiceReference1.yServiceSoap"
        name="yServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>